<%- include('./partials/header', {page: "Edit"}) %>

<div class="container">
    <form class="addform" method="POST" action="/edit/<%= data._id %>?_method=PUT" >
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="title" value ="<%= data.title %>" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" rows="5" name="desc"><%= data.desc %></textarea>
        </div>
        <div class="button-div">
            <button class="btn btn-warning" id="clear">
                <i class="fas fa-check-square edit"></i>Submit Changes
            </button>
        </div>
    </form>
</div>

<script>
    // background color to body of editform page
    document.body.style.background = "#2E8B60";
</script>

<%- include('./partials/footer') %>
