<%- include('./partials/header') %>

<div class="container">
    <% if(work.length !==0 ){ %> 
        <% for(let one of work){ %>
        <div class="card display">
            <div class="card-header">
                <h4 id="title"><%= one.title %></h4>
                <h6>
                    <%= one.startTime.getDate() %>/<%= one.startTime.getMonth() %>/<%= one.startTime.getFullYear() %></h6>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text" id="desc"><%= one.desc %></p>
                <p class="card-text" id="time"><strong>Time Elapsed: <%= Math.round((one.endTime - one.startTime)/6000)/10 %> minutes </strong></p>
                <a class="btn btn-sm btn-warning" href="/edit/<%= one._id %>" >Edit</a>

                <form method="POST" action="/delete/<%= one._id %>?_method=DELETE" style="display: inline;">
                    <button class="btn btn-sm btn-danger delete-button" 
                        style="color: white;" 
                        href="/delete/<%= one._id %>"
                        onclick="return confirm('Are you sure you want to delete this?')"
                    >
                            Delete
                    </button>
                </form>

                <form method="POST" action="inspireme/<%= one._id %> " style="display: inline;">
                    <button class="btn btn-sm btn-success">Share</button>
                </form>
            </div>
        </div>
        <% } %>
    <% } else { %>
        <div class="container">
            <p>Whoa Nigga, that's some empty shit. Start doing some work!</p>
        </div>
    <% } %>  
</div>

<%- include('./partials/footer') %>