<%- include('./partials/header') %>

<div class="container">
    <% for(let one of data){ %>
        <div class="custom-card">
            <div class="row">
              <div class="col-md-5 custom-head">
                <h3 class="display-4"><%= one.postingTime.toDateString() %></h3>
                <h3 class="display-4">Shared by <%= one.authorname %></h3>
                <h4>Worked for: <%= Math.round((new Date(one.endTime) - new Date(one.startTime))/6000)/10 %> minutes</h4>
                <h4> </h4>
              </div>
              <div class="col-md-7 custom-body">
                <div>
                    <h5><%= one.title %> </h5>
                    <p><%= one.desc %> </p>
                </div>
              </div>
            </div>
          </div>
    <% } %> 
</div>

<%- include('./partials/footer') %>