<%- include('./partials/header', {page: 'User Profile'}) %>


<div class="profilepage">
  <div class="col-md-6 col-12">
<h1>Welcome to <%= user.username %>'s Profile </h1>
<h2>Email: <span><%= user.email %> </span></h2>
  </div>
</div>

<div class="profiledescription">

<hr/>
<h2>Bio: <span><%= user.about %> </span></h2>
<hr/>


<img src='<%= user.imageURL %>' alt='<%= user.username%>' style="height: 100px">

<h3>User Works</h3>
<% if (userWorks.length) { %>
    <% userWorks.forEach(work => { %>
        <div>
       Title:  <%= work.title %>
            <br/>
            Description:  <%= work.desc %>
            <hr />
        </div>
    <% }); %>
<% } %>

<a href=<%= user.facebook %> target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
<a href=<%= user.instagram %> target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
<a href=<%= user.twitter %> target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
</div>


<%- include('./partials/footer') %>
